.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  padding: 0 2rem;
}

.main-content {
  padding: 2rem;
}

.main-text {
  font-size: 48px;
  font-weight:900;
  color: #fff;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 10px;
  border-radius: 12px;
}
.main-text-2 {
  font-size: 32px;
  font-weight:400;
  color: #fff;
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .main-text {
    font-size: 1.5rem;
  }
}
